.main {
  background: linear-gradient(220deg, #000000, #000123, #020008);
  min-height: 100vh;
}

body {
  font-size: 0.875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.feature-img img{
  object-fit: cover;
}

.sidebar {
  background: linear-gradient(350deg, #000001, #07001c);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
  top: 0.25rem;
  right: 1rem;
}

.navbar .form-control {
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}


* {
  color: #7d7d7d;
}
.carousel-caption {
  top: 40%;
}

.recomended {
  background-color: #06091a;
}

.navbar {
  background: linear-gradient(45deg, #08081ae6, #04060bed);
  z-index: 1000;
}

.nav-link{
  font-size: 1rem;
  color: #6e6e6b !important;

}

h2 {
  color: transparent;
  background: radial-gradient(#0120ff, #f99c29);
  background-clip: text;
  padding: 3px;
}

.extrait img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.style {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background: linear-gradient(170deg, #1f003e, #000000);
}

.carousel-caption h3 {
  font-size: 4rem;
  text-shadow: 3px 3px 7px #000000a3;
  text-emphasis: double-circle open;
  color: transparent;
  background: linear-gradient(114deg, #1500ff, #ffc400);
  background-clip: text;
}

.carousel-caption p {
  font-size: 2rem;
  text-emphasis: dot open;
}
